[build]
  publish = "."
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["pdfkit", "@aws-sdk/client-s3"]
  included_files = [
    "node_modules/pdfkit/js/data/**"
  ]